<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="nav-bar"></div>

<div id="app">
    <div class="product">
        <div class="product-image">
            <img v-bind:src="image" v-bind:alt="altText"/>
            <img v-bind:src="catImage" v-bind:alt="catAltText">
        </div>

        <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="onSale">ON SALE!!</p>
            <!--            <p v-if="inventory > 10">In Stock</p>-->
            <!--            <p v-else-if="inventory <= 10 && inventory > 0"> Almost Sold Out </p>-->
            <!--            <p v-else>Out of Stock</p>-->

            <p v-if="inStock">In Stock</p>
            <p v-else :class="{outOfStock: !inStock}">Out of Stock</p>
            <a v-bind:href="link" target="_blank" >More products like this</a>
            <ul>
                <li v-for="detail in details">{{ detail }}</li>
            </ul>

            <div v-for="varient in variants"
                 :key="varient.variantId"
                 class="color-box"
                 :style="{backgroundColor: varient.variantColor}"
                 @mouseover="updateProduct(varient.variantImage)"
            >

            </div>
            <div v-for="cat in cats" :key ="cat.catGender" >
                <p @mouseenter ="updateCat(cat.catImage)">{{cat.catName }}</p>
            </div>

            <button v-on:click="addToCart"
                    :disabled= "!inStock"
                    :class="{ disabledButton: !inStock }"

            >Add to Cart</button>
            <button v-on:click="removeToCart">Remove to Cart</button>
            <div class="cart">
                <p>Cart({{cart}})</p>
            </div>

        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="main.js"></script>
</body>


</html>